<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>增加子项目</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content=""/>

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Stylesheets -->
    <link href="/css/style1.css" rel='stylesheet' type='text/css' />
    <!--// Stylesheets -->
    <!--fonts-->
    <!-- title -->


    <!-- body -->
    <!--//fonts-->
</head>

<body>
<header>
    <h1>增加子项目</h1>
</header>
<div class="w3ls-contact">

    <!-- form starts here -->
    <form th:action="@{/Add5/}+${id}" method="post">
        <div class="agile-field-txt">
            <label>
                子项目:</label>
            <input type="text" name="son" id="son" placeholder=" " required="" />
        </div>
        <div class="w3ls-contact  w3l-sub">
            <input type="submit" value="确定">
        </div>

    </form>
</div>
<!-- //form ends here -->
<div class="copy-wthree">
    <p>Copyright &copy; 2021.Company name All rights reserved.</p>
</div>

</body>
<!-- //Body -->

</html>